/* 
fuentes utilizadas
Para titulos : font-family: "Inter", sans-serif;
Para lo demas : font-family: "Prata";
 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 8%;
}

li {
  display: inline;
}

/* header */
.cabeza {
  margin-top: 0%;
  background-color: #353535b2;
}

/* UL de la barra de inicio */
.headd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

head li:hover {
  background-color: #fbe7507c;
}

/* navbar : Nombre de la persona */
.name {
  font-size: larger;
  font-family: "Prata", sans-serif;
  padding: 14px 16px;
}

/* links que estan centreados en la navbar */
a.cabezaa {
  color: white;
  text-decoration: none;
  padding: 20px 16px;
}
.centroo > li {
  font-family: "Inter", sans-serif;
  padding-right: 50px;
}

/* -------------------Contenedor 1 de titulo y presentacion------------------- */
.container1 {
  margin: 4% 35% 0% 8%;
}

.container1 h1 {
  font-size: 370%;
  font-family: "Prata";
  text-align: justify;
}
.container1 p {
  font-size: 120%;
  font-family: "Inter", sans-serif;
  line-height: 200%;
  text-align: justify;
}
/* FIN CONTENEDOR 1 */

/* BARRA DE IMAGENES */
.bar_icon {
  display: flex;
  margin-left: 8%;
  margin-top: 6%;
  justify-content: space-between;
  margin-right: 2%;
}
/* FIN BARRA DE IMAGENES */

/* CONTENEDOR 2 PROYECTOS */
.contenedor2 {
  margin-left: 8%;
  margin-top: 8%;
  display: flex;
  text-align: justify;
  /* flex-direction: row;
  flex-wrap: wrap; */
}

.contenedor2 div {
  margin-right: 10%;
}

.contenedor2 a {
  font-family: "Prata";
  font-size: xx-large;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}

.contenedor2 p {
  font-family: "Inter", sans-serif;
  font-size: large;
  line-height: 200%;
}

.columna1 {
  display: flex;
  flex-direction: column;
  max-width: min-content;
}
.columna1 img {
  max-width: max-content;
  height: auto;
}

.columna2 {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  max-width: min-content;
}

.columna2 img {
  max-width: max-content;
  height: auto;
}

/* ---------      FIN CONTENEDOR 2        -------------*/

/* CONTENEDOR 3 */
.contenedor3 {
  background-color: #353535b2;
  margin-left: 8%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.contenedor3 h2 {
  font-size: 250%;
  font-family: "Prata";
  margin-right: 50%;
  margin-left: 3%;
}

.contenedor3 p {
  font-family: "Inter", sans-serif;
  text-align: justify;
  line-height: 200%;
  column-count: 2;
  margin-left: 3%;
  margin-right: 5%;
}

/* FIN CONTENEDOR 3 */

/* CONTENEDOR 4 */
.container4 {
  margin-top: 5%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
}

.container4 h2 {
  font-family: "Prata";
  font-size: x-large;
}

.container4 p {
  font-family: "Inter", sans-serif;
  margin-right: 62%;
  text-align: justify;
}

.contactar_btn {
  font-family: "Prata", serif;
  background-color: #fbe850;
  width: 120px;
  height: 50px;
  margin: 5px 2px;
  font-size: 90%;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.contactar_btn:hover {
  background-color: white;
  color: black;
}

/* FIN DE CONTENEDOR 4 */

/* configuracion css del pie de la pagina */
/* PIE DE PAGINA: FOOTER */
.pies {
  margin-top: 5%;
  background-color: #353535b2;
}

a.piess {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fbe7507c;
}

/* FIN DE FOOTER */
