/* 
fuentes utilizadas
Para titulos : font-family: "Inter", sans-serif;
Para lo demas : font-family: "Prata";
 */

* {
  box-sizing: border-box;
}

/* ancho por clases divididas en 12 columnas */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Todas las columnas flotaran a la izq y tendran un padding de 15px */
[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

html {
  height: 100%;
}
body {
  background-color: black;
  color: white;
  margin: 0 0 0 0;
}

/* header */
.cabeza {
  background-color: #353535b2;
}

/* UL de la barra de inicio */

ul.headd {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: auto;
  width: 100%;
  height: auto;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* li a class name : Nombre de la persona */
.name {
  font-size: larger;
  font-family: "Prata", sans-serif;
  padding: 14px 16px;
}

/* links que estan centreados en la navbar */

div.centroo{
  display: flex;
  flex-direction: row;
}
a.cabezaa {
  color: white;
  text-decoration: none;
}
.centroo > li {
  font-family: "Inter", sans-serif;
}



ul.headd li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

  float: left;
  padding: 15px;
}

ul.headd li a.active {
  background-color: #4caf50;
  color: white;
}

ul.headd li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

head li:hover {
  background-color: #fbe7507c;
}


.contactar_btn {
  font-family: "Prata", serif;
  background-color: #fbe850;
  width: 120px;
  height: 50px;
  margin: 5px 2px;
  font-size: 90%;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.contactar_btn:hover {
  background-color: white;
  color: black;
}

/* -------------------Contenedor 1 de titulo y presentacion------------------- */
.container1 {
  margin: 4% 0% 0% 8%;
}

.container1 h1 {
  font-size: 370%;
  font-family: "Prata";
  text-align: justify;
}
.container1 p {
  font-size: 120%;
  font-family: "Inter", sans-serif;
  line-height: 200%;
  text-align: justify;
}
/* FIN CONTENEDOR 1 */

/* BARRA DE IMAGENES */
.bar_icon {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
  margin-right: 2%;
}
/* FIN BARRA DE IMAGENES */

/* CONTENEDOR 2 PROYECTOS */
.contenedor2 {
  margin-left: 8%;
  margin-top: 8%;
  text-align: justify;
  /* flex-direction: row;
  flex-wrap: wrap; */
}

.contenedor2 div {
  margin-right: 5%;
}

.contenedor2 a {
  font-family: "Prata";
  font-size: 200%;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}

.contenedor2 p {
  font-family: "Inter", sans-serif;
  font-size: large;
  line-height: 200%;
}

.columna1 {
  display: flex;
  flex-direction: column;
  /*max-width: min-content; */
}
.columna1 img {
  max-width: max-content;
  height: auto;
}

.columna2 {
  display: flex;
  flex-direction: column;
  /*max-width: min-content; */
}

.columna2 img {
  max-width: max-content;
  height: auto;
}

/* ---------      FIN CONTENEDOR 2        -------------*/

/* CONTENEDOR 3 */
.contenedor3 {
  background-color: #353535b2;
  margin-left: 8%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.contenedor3 h2 {
  font-size: 250%;
  font-family: "Prata";
  margin-right: 50%;
  margin-left: 3%;
}

.contenedor3 p {
  font-family: "Inter", sans-serif;
  text-align: justify;
  line-height: 200%;
  column-count: 2;
  margin-left: 3%;
  margin-right: 5%;
}

/* FIN CONTENEDOR 3 */

/* CONTENEDOR 4 */
.container4 {
  margin-top: 5%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
}

.container4 h2 {
  font-family: "Prata";
  font-size: x-large;
}

.container4 p {
  font-family: "Inter", sans-serif;
  margin-right: 62%;
  text-align: justify;
}

/* FIN DE CONTENEDOR 4 */

/* configuracion css del pie de la pagina */
/* PIE DE PAGINA: FOOTER */
.pies {
  margin-top: 5%;
  background-color: #353535b2;
}

a.piess {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fbe7507c;
}

/* FIN DE FOOTER */

@media screen and (max-width: 400px) {

  [class*="col-"] {
    width: 100%;
  }

  .container1 {
    margin: 4% 0% 0% 0%;
  }

  .container1 h1 {
    font-size: xx-large;
  }

  .container1 p {
    font-size: medium;
  }


  ul.headd{
    display: block;
  }
  
  ul.headd li a {
    text-align: center;
    float: none;
  }

  ul.headd li {
    text-align: center;
    float: none;
  }
}
