body {
  background-color: rgb(218, 80, 30);
  background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/32/3/S1jatp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  /* display: grid; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #c13eff;
}

li {
  color: #c13eff;
  /* display: inline; */
  /* float: left; */
}

a {
  padding: 8px;
  /* background-color: #000000; */
  
}

.re {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.contenedor {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
#btn-full {
  background-color: transparent;
  border-color: transparent;
  align-self: flex-end;
}

#btn-esc {
  display: none;
  background-color: transparent;
  border-color: transparent;
  align-self: flex-end;
}

#reloj {
  font-size: 60px;
  text-shadow: 0px 1px;
  color: #ffffff;
}

.reloj-contenedor {
  padding: 100px;
  max-width: 350px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 0%;
  border: rgb(218, 80, 30) 2px solid;
}

#hora {
  letter-spacing: 15px;
}

#fecha {
  letter-spacing: 10px;
  font-size: 15px;
}

.mensaje {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

a:link {
  color: transparent;
}

.text {
  background: linear-gradient(90deg, #c13eff, #ff3ec9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: grayscale(100%);
  transition: filter 800ms;
  letter-spacing: 3px;
}

.text:hover {
  filter: grayscale(0%);
}

.animacion {
  border: rgb(0, 0, 0) 2px solid;
}
